.form {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.input {
  min-width: 300px;
  border-radius: 5px;
  border-color: transparent;
  padding: 10px;
}
